<footer class="footer">
  <div class="footer__left">
    <div class="footer__logo">
      <img src="/img/icons/icon.svg" class="footer__icon" alt=".">
      <span>Drop-mycase.ru</span>
    </div>
    <div class="footer__text">Магазин продажи игровыфх кейсов drop-mycase.ru<br/>Все права защищены. Москва 2018</div>
    <a href="#" class="footer__link">Политика конфиденциальности</a>
  </div>
  <div class="footer__right">
//=include components/stats/index.html
  <div class="footer__pay">
    <span class="footer__pay-text">Принимаем к оплате:</span>
    <div class="footer__pay-icons">
      <img class="footer__pay-icon" src="/img/icons/webmoney-paying-logo.svg" alt=".">
      <img class="footer__pay-icon" src="/img/icons/paypal-logo.svg" alt=".">
      <img class="footer__pay-icon" src="/img/icons/visa-pay-logo.svg" alt=".">
      <img class="footer__pay-icon" src="/img/icons/yandex-pay-logo.svg" alt=".">
    </div>
  </div>
  </div>
</footer>
