<div class="filter">
  <span class="filter__item filter__item_active">Все кейсы</span>
  <span class="filter__item filter__item_choose">
    <span class="filter__pentagon filter__pentagon_choose"></span>
    Выбор игроков
  </span>
  <span class="filter__item filter__item_new">
    <span class="filter__pentagon filter__pentagon_new"></span>
    Новинки
  </span>
  <span class="filter__item filter__item_discount">
    <span class="filter__pentagon filter__pentagon_discount"></span>
    Скидки
  </span>
</div>
