.PROFheader {
  position: relative;
  z-index: 1;
  overflow: hidden;

  width: 100%;
  padding-top: 160px;
  padding-bottom: 160px;

  background: url('/img/case-bg.jpg') center center no-repeat;
  background-size: cover;
  @media (max-width: 1400px) {
    padding-bottom: 120px;
  }
  @media (max-width: 1000px) {
    padding-top: 120px;
    padding-bottom: 100px;
  }
  @media (max-width: 480px) {
    padding-top: 100px;
    padding-bottom: 75px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.01) 100%);
  }

  &__container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    color: #fff;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__heading {
    font-size: 42px;
    font-weight: 400;
  }

  &__stats {
    @media (max-width: 750px) {
      display: none;
    }
  }

  &__wrapper-ad {
    display: flex;
    width: 100%;
    @media (max-width: 830px) {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      -ms-align-items: center;
      align-items: center;
    }
  }

  &__left {
    position: relative;
    margin-top: 47px;
    width: 400px;
    height: 438px;
    padding-top: 50px;
    padding-left: 54px;
    padding-bottom: 80px;
    background: #1b1d1f url('/img/info-bg.png') bottom left no-repeat;
    background-size: cover;
    @media (max-width: 450px) {
      width: 100%;
      margin-top: 30px;
    }
    @media (max-width: 390px) {
      padding-left: 35px;
    }
    @media (max-width: 345px) {
      padding-left: 26px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 2px;
      background: linear-gradient(to top, rgba(#fd7604, 0.41) 45%, rgba(#fd7604, 0.01) 100%);
      width: 2px;
      height: 64px;
      box-shadow: -2px 0 14px 2px rgba(#fd7604, 0.2);
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      background: linear-gradient(to right, rgba(#fd7604, 0.41) 45%, rgba(#fd7604, 0.01) 100%);
      width: 64px;
      height: 2px;
      box-shadow: 0px 2px 14px 2px rgba(#fd7604, 0.2);
    }
  }

  &__info {
    display: flex;
  }

  &__avatar {
    width: 109px;
    height: 87px;
    background: url('/img/avatar-border.png') center center no-repeat;
    background-size: 100% 100%;
  }

  &__info-wrapper {
    margin-left: 28px;
    width: calc(100% - 137px);
  }

  &__id {
    font-size: 14px;
    color: #fd7604;
    span {
      color: #49545f;
    }
  }

  &__name {
    margin-top: 10px;
    width: 100%;
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    border-bottom: 1px solid #fd7604;
  }

  &__money {
    margin-top: 30px;
  }

  &__balance {
    height: 26px;
    line-height: 26px;
    color: #fd7604;
    font-size: 18px;
    span {
      display: inline-block;
      width: 130px;
      line-height: 26px;
      vertical-align: top;
      color: #61686e;
      font-size: 16px;
    }
  }

  &__cases {
    height: 26px;
    color: #fd7604;
    font-size: 18px;
    span {
      display: inline-block;
      width: 130px;
      line-height: 26px;
      vertical-align: top;
      color: #61686e;
      font-size: 16px;
    }
  }

  &__vk {
    margin-top: 75px;
    padding-left: 30px;
  }

  &__vk-icon {
    display: inline-block;
    margin-right: 5px;
    width: 29px;
    height: 29px;
    vertical-align: middle;
    background: url('/img/icons/vk.svg') center center no-repeat;
    background-size: cover;
  }

  &__right {
    margin-top: 47px;
    margin-left: 41px;
    width: calc(100% - 441px);
    padding: 49px 60px 62px 53px;
    background: #1b1d1f url('/img/links-bg.png') bottom right no-repeat;
    background-size: cover;
    @media (max-width: 1155px) {
      padding: 49px 35px 45px 32px;
    }
    @media (max-width: 900px) {
      margin-left: 25px;
    }
    @media (max-width: 830px) {
      width: 100%;
      margin-left: 0;
    }
    &:before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 2px;
      background: linear-gradient(to top, rgba(#fd7604, 0.41) 45%, rgba(#fd7604, 0.01) 100%);
      width: 2px;
      height: 64px;
      box-shadow: -2px 0 14px 2px rgba(#fd7604, 0.2);
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      background: linear-gradient(to left, rgba(#fd7604, 0.41) 45%, rgba(#fd7604, 0.01) 100%);
      width: 64px;
      height: 2px;
      box-shadow: 0px -2px 14px 2px rgba(#fd7604, 0.2);
    }
  }

  &__steps {
    display: flex;
    justify-content: space-between;
    @media (max-width: 470px) {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
    }
    span {
      display: block;
      color: #4c555e;
      font-size: 18px;
    }
    a {
      display: inline-block;
      margin-top: 20px;
      color: #fd7604;
      @media (max-width: 470px) {
        margin-top: 0;
      }
    }
  }

  &__step-1 {
    position: relative;
    width: 140px;
    padding-top: 75px;
    @media (max-width: 470px) {
      padding-top: 0;
      width: 100%;
      padding-left: 75px;
      margin-bottom: 30px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 42px;
      height: 48px;
      background: url('/img/step-1.png') center center no-repeat;
      background-size: cover;
    }
    &:after {
      content: '';
      position: absolute;
      right: -55px;
      top: 65px;
      width: 32px;
      height: 19px;
      background: url('/img/arrows.png') center center no-repeat;
      background-size: cover;
      @media (max-width: 1270px) {
        display: none;
      }
    }
  }

  &__step-2 {
    position: relative;
    width: 145px;
    padding-top: 75px;
    @media (max-width: 470px) {
      padding-top: 0;
      width: 100%;
      padding-left: 75px;
      margin-bottom: 30px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 42px;
      height: 48px;
      background: url('/img/step-2.png') center center no-repeat;
      background-size: cover;
    }
    &:after {
      content: '';
      position: absolute;
      right: -55px;
      top: 65px;
      width: 32px;
      height: 19px;
      background: url('/img/arrows.png') center center no-repeat;
      background-size: cover;
      @media (max-width: 1270px) {
        display: none;
      }
    }
  }

  &__step-3 {
    position: relative;
    width: 90px;
    padding-top: 75px;
    @media (max-width: 470px) {
      padding-top: 0;
      width: 100%;
      padding-left: 75px;
      margin-bottom: 30px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 42px;
      height: 48px;
      background: url('/img/step-3.png') center center no-repeat;
      background-size: cover;
    }
  }

  &__links {
    margin-top: 65px;
    width: 100%;
    @media (max-width: 470px) {
      margin-top: 35px;
    }
  }

  &__link-wrapper {
    margin-top: 35px;
    width: 100%;
  }

  &__top {
    display: flex;
    span {
      width: 190px;
      font-weight: 700;
      font-size: 16px;
      color: #fff;
    }
    a {
      font-size: 14px;
      color: #f96203;
    }
  }

  &__input-wrapper {
    margin-top: 30px;
  }

  &__input {
    height: 42px;
    width: calc(100% - 180px);
    padding-left: 18px;
    border: 2px solid #404649;
    background-color: transparent;
    color: #4d565f;
    font-size: 14px;
    @media (max-width: 930px) {
      width: calc(100% - 165px);
    }
    @media (max-width: 470px) {
      width: calc(100% - 70px);
    }
  }

  &__button {
    position: relative;
    margin-left: 17px;
    height: 42px;
    width: 158px;
    padding-left: 25px;
    background: linear-gradient(to right, #ff8400 35%, #f21c1c 100%);
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    @media (max-width: 930px) {
      width: 140px;
    }
    @media (max-width: 470px) {
      font-size: 0;
      padding-left: 15px;
      padding-right: 30px;
      vertical-align: top;
      width: auto;
    }

    &:before {
      position: absolute;
      top: 15px;
      content: '';
      background: url('/img/check.png') center center no-repeat;
      background-size: cover;
      width: 15px;
      height: 11px;
      transform: translateX(-25px);
      @media (max-width: 470px) {
        transform: translateX(0);
      }
    }
  }
}
