<!-- Состояния ячейки регулируется прибавлением классов:
case_new, case_choose, case_discount к обертке -->
<!-- Также регулируем размер кейса добавлением case_xs(для сайдбара) case_s (для блока лучшие дропы) -->
<div class="case">
  <div class="case__border">
    <span class="case__border-tl"></span>
    <span class="case__border-tr"></span>
    <span class="case__border-l"></span>
    <span class="case__border-r"></span>
    <span class="case__border-bl"></span>
    <span class="case__border-br"></span>
  </div>
  <div class="case__bg"></div>
  <div class="case__image">
    <img src="/img/csgo-case.png" alt=".">
  </div>
  <div class="case__name">Gamma case 4</div>
  <div class="case__price">300 р.</div>
</div>
