<div class="modal-gift">
  <div class="modal-gift__body">
    <span class="modal-gift__close"></span>
    <div class="modal-gift__wrapper">
      <div class="modal-gift__heading">В подарок!</div>
      <div class="modal-gift__price">450 руб.</div>
      <p class="modal-gift__hint">Авторизуйтесь и получите 450 рублей на свой счет, чтобы оплатить свои первые кейсы</p>
      <button class="view-more view-more_orange view-more_s">
        Авторизоваться
        <span class="view-more__border">
          <span class="view-more__border-tl"></span>
          <span class="view-more__border-t"></span>
          <span class="view-more__border-tr"></span>
          <span class="view-more__border-br"></span>
          <span class="view-more__border-b"></span>
          <span class="view-more__border-bl"></span>
        </span>
      </button>
    </div>
  </div>
</div>
