<div class="review">
  <div class="review__foto">
    <svg>
      <defs>
        <pattern id="review1" patternUnits="userSpaceOnUse" width="100" height="100">
          <image xlink:href="/img/csgo-review.jpg" x="0" width="100" height="100" />
        </pattern>
      </defs>
      <polygon points="50 1 95 25 95 75 50 99 5 75 5 25" fill="url(#review1)"/>
      <polygon points="50 1 95 25 95 75 50 99 5 75 5 25" fill="#f77304" opacity="0.5"/>
    </svg>
  </div>
  <div class="review__wrapper">
    <span class="review__heading">Алеська Геймерша</span>
    <p class="review__text">Закупалась здесь раз 25. И каждый раз все прошло гладко. Служба поддержки вежливая. Дмитрий галантный и обходительный молодой человек, которому хочется оставить свои деньги. Я взрослая женщина 25 лет, но не прочь купить кейсы для CS GO. Я не стыжусь этого. Варить борщ не для меня</p>
    <span class="review__date">21.03.2018</span>
  </div>
</div>
