.view-more {
  position: relative;
  height: 72px;
  width: 309px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: border 0.2s;
  @media (max-width: 400px) {
    width: 280px;
    height: 65.24px;
  }
  @media (max-width: 360px) {
    width: 220px;
    height: 51.26px;
  }
  &:hover {
    span {
      background-color: #ff8400;
      box-shadow: 2px 2px 21px 2px rgba(#ff7800, 0.22);
    }
    .view-more__border {
      background-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  &_s {
    width: 200px;
    @media (max-width: 400px) {
      height: 72px;
    }
    &:hover {
      span {
        background-color: #ff8400;
        box-shadow: 2px 2px 21px 2px rgba(#ff7800, 0.5);
      }
    }
    .view-more__border {
      &-tl {
        top: 23.8%;
        left: -18%;
        width: 22.8%;
      }
      &-tr {
        top: 23.8%;
        left: 95.5%;
        width: 22.8%;
      }
      &-br {
        top: 73.61%;
        left: 95.5%;
        width: 22.8%;
      }
      &-bl {
        top: 73.61%;
        left: -18%;
        width: 22.8%;
      }
    }
  }

  &_xs {
    width: 155px;
    @media (max-width: 400px) {
      height: 72px;
    }
    .view-more__border {
      &-tl {
        top: 23.8%;
        left: -22.5%;
        width: 28.9%;
      }
      &-tr {
        top: 23.8%;
        left: 94.7%;
        width: 28.9%;
      }
      &-br {
        top: 73.61%;
        left: 94.7%;
        width: 28.9%;
      }
      &-bl {
        top: 73.61%;
        left: -22.5%;
        width: 28.9%;
      }
    }
  }

  &_orange {
    .view-more__border {
      span {
        background-color: #ff8400;
        height: 2px;
      }
    }
  }
  &__border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    span {
      position: absolute;
      background-color: #303537;
      height: 1px;
      transition: all 0.2s;
    }
    &-tl {
      top: 23.61%;
      left: -11.97%;
      width: 14.88%;
      transform: rotate(129deg);
    }
    &-t {
      top: 0;
      left: 0;
      width: 100%;
      transform: rotate(180deg);
    }
    &-tr {
      top: 23.61%;
      left: 97.09%;
      width: 14.88%;
      transform: rotate(-128deg);
    }
    &-br {
      top: 73.61%;
      left: 97.09%;
      width: 14.88%;
      transform: rotate(-51deg);
    }
    &-b {
      top: 98.61%;
      left: 0;
      width: 100%;
    }
    &-bl {
      top: 73.61%;
      left: -11.97%;
      width: 14.88%;
      transform: rotate(52deg);
    }
  }
}
