<header id="topmenu" class="topmenu">
  <div class="topmenu__what">Какие кейсы открыть</div>
  <nav class="topmenu__menu">
    <a href="/app/cs/" class="topmenu__item topmenu__item_csgo topmenu__item_active">
      <span>CS GO</span>
    </a>
    <a href="/app/pubg/" class="topmenu__item topmenu__item_pubg">
      <span>PUBG</span>
    </a>
    <a href="/app/dota/" class="topmenu__item topmenu__item_dota">
      <span>DOTA 2</span>
    </a>
  </nav>

  <span class="topmenu__burger-button"></span>
  <!--При клике на span tompenu__burger-button переключать класс topmenu__burger_active у topmenu__burger-->
  <div class="topmenu__burger">
    <div class="topmenu__login d-none">
      <span class="topmenu__login-text">Выполнить<br/> вход в аккаунт</span>
      <div class="topmenu__vk">Через VK</div>
      <div class="topmenu__steam">Через steam</div>
    </div>
    <div class="topmenu__registered">
      <div class="topmenu__avatar">

      </div>
      <div class="topmenu__info">
        <div class="topmenu__name">
          Александр
        </div>
        <div class="topmenu__balance">
          1 300 ₽
        </div>
      </div>
      <div class="topmenu__pencil">
        <span></span>
      </div>
      <div class="topmenu__exit">
        <span></span>
      </div>
      <div class="topmenu__button">
        Пополнить счет
        <div class="topmenu__button-left"></div>
        <div class="topmenu__button-right"></div>
      </div>
    </div>
  </div>
</header>
