<section class="contents">
  <div class="container">
    <div class="contents__wrapper-top">
      <h2 class="contents__heading">Содержимое кейса</h2>
      <div class="contents__amount">Всего вещей: <span>13</span></div>
    </div>
    <div class="contents__wrapper-main">
      <div class="contents__item contents__item_mln">
        //=include components/case/index.html
      </div>
      <div class="contents__item">
        //=include components/case/index.html
      </div>
      <div class="contents__item">
        //=include components/case/index.html
      </div>
      <div class="contents__item">
        //=include components/case/index.html
      </div>
      <div class="contents__item contents__item_mrn">
        //=include components/case/index.html
      </div>
      <div class="contents__item contents__item_mln">
        //=include components/case/index.html
      </div>
      <div class="contents__item">
        //=include components/case/index.html
      </div>
      <div class="contents__item">
        //=include components/case/index.html
      </div>
      <div class="contents__item">
        //=include components/case/index.html
      </div>
      <div class="contents__item contents__item_mrn">
        //=include components/case/index.html
      </div>
      <div class="contents__item contents__item_mln">
        //=include components/case/index.html
      </div>
      <div class="contents__item">
        //=include components/case/index.html
      </div>
      <div class="contents__item">
        //=include components/case/index.html
      </div>
      <div class="contents__item">
        //=include components/case/index.html
      </div>
      <div class="contents__item contents__item_mrn">
        //=include components/case/index.html
      </div>
      <div class="contents__view-more">
        //=include components/button/index.html
      </div>
    </div>
  </div>
</section>
