.ITEMheader {
  position: relative;
  z-index: 1;
  overflow: hidden;

  width: 100%;
  padding-top: 160px;
  padding-bottom: 160px;

  background: url('/img/case-bg.jpg') center center no-repeat;
  background-size: cover;
  @media (max-width: 1400px) {
    padding-bottom: 120px;
  }
  @media (max-width: 1000px) {
    padding-top: 120px;
    padding-bottom: 100px;
  }
  @media (max-width: 480px) {
    padding-top: 100px;
    padding-bottom: 75px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.01) 100%);
  }

  &__container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    color: #fff;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 930px) {
      flex-direction: column;
      width: calc(100% - 320px);
      height: 375px;
      margin-left: auto;
      margin-right: 0;
      justify-content: flex-start;
    }
    @media (max-width: 800px) {
      width: calc(100% - 280px);
    }
    @media (max-width: 750px) {
      width: 100%;
      height: auto;
    }
  }

  &__wrapper-additional {
    max-width: 560px;
    @media (max-width: 1199px) {
      max-width: 460px
    }
    @media (min-width: 1001px) and (max-width: 1110px) {
      max-width: 380px
    }
    @media (max-width: 930px) {
      width: 100%;
      max-width: none
    }

  }

  &__heading {
    font-size: 42px;
    font-weight: 400;
    line-height: 56px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    @media (max-width: 380px) {
      line-height: 48px;
    }
  }

  &__slogan {
    margin-top: 37px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.4px;
    color: #7f8d8d;
  }

  &__stats {
    @media (max-width: 930px) {
      margin-top: 40px;
    }
    @media (max-width: 750px) {
      display: none;
    }
  }

  &__main {
    position: relative;
    margin-top: 88px;
    display: flex;
    width: 100%;
    @media (max-width: 1000px) {
      margin-top: 45px;
    }
    @media (max-width: 930px) {
      margin-top: -375px;
    }
    @media (max-width: 750px) {
      margin-top: 30px;
    }
  }

  &__case {
    position: absolute;
    left: 0;
    top: 0;
    @media (max-width: 400px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__right {
    width: 100%;
    padding-left: 380px;
    @media (max-width: 1399px) {
      padding-left: 320px;
    }
    @media (max-width: 1300px) {
      padding-left: 0;
    }
  }

  &__roulette {
    position: relative;
    width: 100%;
    height: 180px;
    border-top: 1px solid #fd7604;
    border-bottom: 1px solid #fd7604;
    padding-top: 30px;
    padding-bottom: 30px;
    @media (max-width: 1300px) {
      width: calc(100% - 300px);
      margin-right: 0;
      margin-left: auto;
      margin-top: 55px;
    }
    @media (max-width: 930px) {
      margin-top: 375px;
      width: 100%;
    }
    @media (max-width: 750px) {
      margin-top: 300px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      height: 100%;
      border-left: 1px solid #fd7604;
      box-shadow: 0 0 55.18px 6.82px rgba(252, 111, 6, 0.84);
    }
    &:after {
      content: '';
      position: absolute;
      left: calc(50% - 8px);
      top: 0;
      border: 9px solid transparent;
      border-top: 18.5px solid #fd7604;
    }
  }

  &__roulette-wrapper {
    position: absolute;
    left: 50%;
    top: 28px;
    display: flex;
    transform: translateX(-50%);
    div:nth-child(1) {
      opacity: 0.1
    }
    div:nth-child(9) {
      opacity: 0.1
    }
    div:nth-child(2) {
      opacity: 0.5
    }
    div:nth-child(8) {
      opacity: 0.5
    }
  }

  &__item {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    cursor: pointer;
    @media (max-width: 380px) {
      margin-left: 8px;
      margin-right: 8px;
    }
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      left: 50%;
      top: calc(50% - 20px);
      box-shadow: 0 0 70px 25px #5a7785;
    }
    span {
      display: inline-block;
      margin-top: 20px;
      width: 80px;
      color: #748096;
      font-size: 12px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }
  }

  &__buttons {
    margin-top: 70px;
    display: flex;
    width: calc(100% - 28px);
    padding-left: 44px;
    justify-content: space-between;
    @media (max-width: 1300px) {
      margin-top: 100px;
      margin-left: auto;
      margin-right: 28px;
      width: calc( 100% - 20vw);
    }
    @media (max-width: 1199px) {
      width: calc(100% - 28px);
    }
    @media (max-width: 930px) {
      margin-top: 40px;
    }
    @media (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      button {
        margin-bottom: 25px;
      }
    }
  }

  &__button-open {
    position: relative;
    width: 190px;
    height: 72px;
    line-height: 72px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    background: linear-gradient(100deg, #ff8400 20%, #f21c1c 100%);
    cursor: pointer;
    transition: all 0.2s;
    border: 0;
    &:hover {
      box-shadow: 0 0 16px 5px rgba(#ff8400, 0.55);
      .CASEheader__button-open-left {
        box-shadow: 0 0 50px 30px rgba(#ff8400, 0.4);
      }
      .CASEheader__button-open-right {
        box-shadow: 0 0 50px 30px rgba(#ff8400, 0.4);
      }
    }
    &:before {
      position: absolute;
      content: '';
      top: 0;
      border: 36px solid transparent;
      border-right: 36px solid #ff8400;
      left: -72px;
      transform: scale(1.02) translateX(0.7px)
    }
    &:after {
      position: absolute;
      content: '';
      top: 0;
      border: 36px solid transparent;
      border-left: 36px solid #f21c1c;
      right: -72px;
      transform: scale(1.02) translateX(-0.7px)
    }

    &-left {
      position: absolute;
      right: -5px;
      top: 36px;
      z-index: -1;
      width: 0;
      height: 0;
      border-radius: 50%;
      transition: box-shadow 0.2s;
      box-shadow: 0 0 0 0 rgba(#f21c1c, 0.4);
    }
    &-right {
      position: absolute;
      left: 0;
      top: 36px;
      z-index: 3;
      width: 0;
      height: 0;
      border-radius: 50%;
      transition: box-shadow 0.2s;
      box-shadow: 0 0 0 0 rgba(#ff8400, 0.4);
    }
  }

  &__plus {
    position: relative;
    display: inline-block;
    margin-right: 6px;
    width: 32px;
    height: 32px;
    background-color: #303537;
    border-radius: 50%;
    vertical-align: middle;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 14px;
      height: 1px;
      background-color: #fff;
      transform: translate(-50%, -50%)
    }
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1px;
      height: 14px;
      background-color: #fff;
      transform: translate(-50%, -50%)
    }
  }

  &__hint {
    position: relative;
    margin-top: 100px;
    padding-left: 50px;
    font-size: 18px;
    @media (max-width: 930px) {
      margin-top: 70px;
    }
    @media (max-width: 480px) {
      margin-top: 20px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: -2px;
      width: 32px;
      height: 32px;
      background: url('/img/icons/information.svg') center center no-repeat;
      background-size: cover;
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 16px;
      top: 50%;
      box-shadow: 0 0 50px 14px rgba(253, 112, 6, 0.51);
    }
    a {
      color: #fc7105;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
