<aside id="sidebar" class="sidebar">
  <div class="sidebar__logo">
    Drop My<br/>Case.ru
  </div>
  <div class="sidebar__heading">Live-дропы:</div>
  <div class="sidebar__case">
    <div class="case case_xs">
      <div class="case__border">
        <span class="case__border-tl"></span>
        <span class="case__border-tr"></span>
        <span class="case__border-l"></span>
        <span class="case__border-r"></span>
        <span class="case__border-bl"></span>
        <span class="case__border-br"></span>
      </div>
      <div class="case__bg"></div>
      <div class="case__image">
        <img src="/img/csgo-weapon.png" alt=".">
      </div>
      <div class="case__name">Gamma case 4</div>
      <div class="case__price">300 р.</div>
    </div>
  </div>
  <div class="sidebar__case">
    <div class="case case_xs">
      <div class="case__border">
        <span class="case__border-tl"></span>
        <span class="case__border-tr"></span>
        <span class="case__border-l"></span>
        <span class="case__border-r"></span>
        <span class="case__border-bl"></span>
        <span class="case__border-br"></span>
      </div>
      <div class="case__bg"></div>
      <div class="case__image">
        <img src="/img/csgo-weapon.png" alt=".">
      </div>
      <div class="case__name">Gamma case 4</div>
      <div class="case__price">300 р.</div>
    </div>
  </div>
  <div class="sidebar__case">
    <div class="case case_xs">
      <div class="case__border">
        <span class="case__border-tl"></span>
        <span class="case__border-tr"></span>
        <span class="case__border-l"></span>
        <span class="case__border-r"></span>
        <span class="case__border-bl"></span>
        <span class="case__border-br"></span>
      </div>
      <div class="case__bg"></div>
      <div class="case__image">
        <img src="/img/csgo-weapon.png" alt=".">
      </div>
      <div class="case__name">Gamma case 4</div>
      <div class="case__price">300 р.</div>
    </div>
  </div>
  <div class="sidebar__case">
    <div class="case case_xs">
      <div class="case__border">
        <span class="case__border-tl"></span>
        <span class="case__border-tr"></span>
        <span class="case__border-l"></span>
        <span class="case__border-r"></span>
        <span class="case__border-bl"></span>
        <span class="case__border-br"></span>
      </div>
      <div class="case__bg"></div>
      <div class="case__image">
        <img src="/img/csgo-weapon.png" alt=".">
      </div>
      <div class="case__name">Gamma case 4</div>
      <div class="case__price">300 р.</div>
    </div>
  </div>
  <div class="sidebar__case">
    <div class="case case_xs">
      <div class="case__border">
        <span class="case__border-tl"></span>
        <span class="case__border-tr"></span>
        <span class="case__border-l"></span>
        <span class="case__border-r"></span>
        <span class="case__border-bl"></span>
        <span class="case__border-br"></span>
      </div>
      <div class="case__bg"></div>
      <div class="case__image">
        <img src="/img/csgo-weapon.png" alt=".">
      </div>
      <div class="case__name">Gamma case 4</div>
      <div class="case__price">300 р.</div>
    </div>
  </div>
  <div class="sidebar__case">
    <div class="case case_xs">
      <div class="case__border">
        <span class="case__border-tl"></span>
        <span class="case__border-tr"></span>
        <span class="case__border-l"></span>
        <span class="case__border-r"></span>
        <span class="case__border-bl"></span>
        <span class="case__border-br"></span>
      </div>
      <div class="case__bg"></div>
      <div class="case__image">
        <img src="/img/csgo-weapon.png" alt=".">
      </div>
      <div class="case__name">Gamma case 4</div>
      <div class="case__price">300 р.</div>
    </div>
  </div>
  <div class="sidebar__case">
    <div class="case case_xs">
      <div class="case__border">
        <span class="case__border-tl"></span>
        <span class="case__border-tr"></span>
        <span class="case__border-l"></span>
        <span class="case__border-r"></span>
        <span class="case__border-bl"></span>
        <span class="case__border-br"></span>
      </div>
      <div class="case__bg"></div>
      <div class="case__image">
        <img src="/img/csgo-weapon.png" alt=".">
      </div>
      <div class="case__name">Gamma case 4</div>
      <div class="case__price">300 р.</div>
    </div>
  </div>
  <div class="sidebar__case">
    <div class="case case_xs">
      <div class="case__border">
        <span class="case__border-tl"></span>
        <span class="case__border-tr"></span>
        <span class="case__border-l"></span>
        <span class="case__border-r"></span>
        <span class="case__border-bl"></span>
        <span class="case__border-br"></span>
      </div>
      <div class="case__bg"></div>
      <div class="case__image">
        <img src="/img/csgo-weapon.png" alt=".">
      </div>
      <div class="case__name">Gamma case 4</div>
      <div class="case__price">300 р.</div>
    </div>
  </div>
</aside>
