<div class="modal-review">
  <div class="modal-review__body">
    <span class="modal-review__close"></span>
    <div class="modal-review__wrapper">
      <div class="modal-review__heading">Спасибо!</div>
      <p class="modal-review__hint">Ваш отзыв добавлен в базу данных. После проверки модератором он появится на сайте</p>
      <button class="view-more view-more_s">
        Продолжить >
        <span class="view-more__border">
          <span class="view-more__border-tl"></span>
          <span class="view-more__border-t"></span>
          <span class="view-more__border-tr"></span>
          <span class="view-more__border-br"></span>
          <span class="view-more__border-b"></span>
          <span class="view-more__border-bl"></span>
        </span>
      </button>
    </div>
  </div>
</div>
